<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/photoCards.css">
    <link rel="stylesheet" href="/css/imageZoom.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/filter.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/follow.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div th:replace="components/top-panel :: top-panel"></div>
<div th:replace="components/headerForChannel :: headerForChannel"></div>

<div th:replace="components/search :: search"></div>
<div th:replace="components/filter :: filter"></div>

<div th:replace="components/photoComponent :: photoComponent"></div>

<!--    <div id="mainPhoto" class="mainPhoto catalogRow">-->
<!--        <div class="catalogCard" th:each="photo : ${photos}">-->
<!--            <p class="idPhoto" th:text="${photo.id}"></p>-->
<!--            <img th:src="@{'/img/' + *{photo.getFilename()}}" alt="">-->
<!--        </div>-->
<!--    </div>-->

<!--<div th:each="photo : ${photos}">-->
<!--    <div>-->
<!--        <p th:text="*{'Id: ' + photo.getId()}"></p>-->
<!--        <p th:if="*{photo.getFilename()}">-->
<!--            <img th:src="@{'/img/' + *{photo.getFilename()}}" alt="">-->
<!--        </p>-->
<!--    </div>-->
<!--    <a th:href="@{'/auth/success/channel/' + *{user.getId()} + '/photos/' + *{photo.getId()}}">go</a>-->
<!--    <form th:action="@{'/auth/success/channel/' + *{user.getId()} + '/photos'}" th:method="post">-->
<!--        <input type="hidden" name="id" th:value="${photo.getId()}" />-->
<!--        <button type="submit" name="delete" th:id="*{photo.getId()}">delete</button>-->
<!--    </form>-->
<!--</div>-->
<script src="/scripts/imageZoom.js"></script>
</body>
</html>