<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/body.css">
</head>
<body>
<div th:replace="components/top-panel :: top-panel" th:with="user"></div>
<div th:replace="components/header :: header"></div>

<div th:if="${#authentication.getName() == user.getEmail()}">
    <form modelAttribute="messageFromForm" method="post" enctype="multipart/form-data">
        <label>
            <input type="text" name="text" placeholder="Add text" />
        </label>
        <label>
            <input type="text" name="tag" placeholder="Tag">
        </label>
        <input type="hidden" name="_csrf" value="${_csrf.token}" />
        <button type="submit" name="saveMessage">Add</button>
    </form>
</div>

<div th:replace="components/recordComponent :: recordComponent"></div>

<form action="/auth/login" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>