<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/imageZoom.css">
    <link rel="stylesheet" href="/css/photoCards.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/filter.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/videoCards.css">
    <link rel="stylesheet" href="/css/follow.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div th:replace="components/top-panel :: top-panel" th:with="user"></div>
<div th:replace="components/headerForChannel :: headerForChannel"></div>

<div class="marginContentMain">
    <div class="videoMain" th:if="${not #lists.isEmpty(videos)}">
        <a class="mainLinks" th:href="@{'/channel/' + *{user.getId()} + '/videos'}">Все видео<i class="fas fa-angle-double-right"></i></a>
        <div th:replace="components/videoComponent :: videoComponent"></div>
    </div>
    <div class="photoMain" th:if="${not #lists.isEmpty(photos)}">
        <a class="mainLinks" th:href="@{'/channel/' + *{user.getId()} + '/photos'}">Посмотреть все фотографии<i class="fas fa-angle-double-right"></i></a>
        <div th:replace="components/photoComponent :: photoComponent"></div>
    </div>
    <div class="emptyMainUser" th:if="${#lists.isEmpty(videos) and #lists.isEmpty(photos)}">
        Данный пользователь ничего не выкладывал :(
    </div>
</div>

<script src="/scripts/imageZoom.js"></script>

</body>
</html>