<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/imageZoom.css">
    <link rel="stylesheet" href="/css/photoCards.css">
    <link rel="stylesheet" href="/css/user.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/filter.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div th:replace="components/top-panel :: top-panel" th:with="user"></div>
<div th:replace="components/headerForChannel :: headerForChannel"></div>

<!--<div th:each="message : ${messages}">-->
<!--    <div>-->
<!--        <p th:text="*{'Id: ' + message.getId()}"></p>-->
<!--        <p th:text="*{'Tag: ' + message.getTag()}"></p>-->
<!--        <p th:text="*{'Text: ' + message.getText()}"></p>-->
<!--        <p th:if="*{message.getFilename()}">-->
<!--            <img th:src="@{'/img/' + *{message.getFilename}}" alt="">-->
<!--        </p>-->
<!--    </div>-->
<!--    <form th:action="@{'/auth/success/channel/' + *{user.getId()}}" th:method="post">-->
<!--        <input type="hidden" name="id" th:value="${message.getId()}" />-->
<!--        <button type="submit" name="delete" th:id="*{message.getId()}">delete</button>-->
<!--    </form>-->
<!--</div>-->

<h1>Main</h1>

<script src="/scripts/imageZoom.js"></script>

</body>
</html>