<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/videoCards.css">
    <link rel="stylesheet" href="/css/filter.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/follow.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/photoUserStyle.css">
    <link rel="stylesheet" href="/css/videoPlayButton.css">
    <link rel="stylesheet" href="/css/videos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div th:replace="components/top-panel :: top-panel"></div>
<div th:replace="components/headerForChannel :: headerForChannel"></div>

<div class="rowFormVideo">
    <form id="formVideo" class="formVideo" th:if="${#authentication.getName() == user.getEmail()}" modelAttribute="videoFromForm" method="post" enctype="multipart/form-data">
        <div class="form-control-video">
            <input class="fileVideo" accept="video/*" type="file" id="fileVideo" name="file">
            <small>Error message</small>
        </div>
        <div class="form-control-video">
            <label for="videoTitle">Введите название видео</label>
            <textarea class="videoInputs videoTitle" id="videoTitle" name="videoTitle"></textarea>
            <small>Error message</small>
        </div>
        <div class="form-control-video">
            <label for="videoDescription">Введите описание видео</label>
            <textarea class="videoInputs videoDescription" id="videoDescription" name="videoDescription"></textarea>
            <small>Error message</small>
        </div>
        <button class="btnSaveVideo" type="submit" id="saveVideo" name="saveVideo">Сохранить</button>
    </form>
</div>

<div th:if="${!#lists.isEmpty(videos) && user.getStatus().name() == 'ACTIVE'}">
    <div th:replace="components/search :: search"></div>
    <div th:replace="components/filter :: filter"></div>
</div>

<div class="marginContentMain">
    <div class="emptyMainUser" th:if="${#lists.isEmpty(videos) and user.getStatus().name() == 'ACTIVE'}">
        Данный пользователь ничего не выкладывал :(
    </div>
    <div class="emptyMainUser" th:if="${user.getStatus().name() == 'BANNED'}">
        Пользователь заблокирован, контент не будет отображён
    </div>
    <div th:replace="components/videoComponent :: videoComponent"></div>
</div>

<script src="/scripts/formValidationForVideo.js"></script>
</body>
</html>