<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/file.css">
    <link rel="stylesheet" href="/css/settings.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:replace="components/top-panel :: top-panel"></div>
<div class="user">
    <div class="userAvatar">
        <img th:src="@{'/img/' + *{authUser.getPhoto()}}" alt="">
    </div>
    <div class="userInfo">
        <p class="firstName" th:text="${authUser.getFirstName() + ' ' + authUser.getLastName()}"></p>
    </div>
</div>
<div class="settings">
    <div class="example">
        <form class="form-group" modelAttribute="userPhotoFromForm" method="post" enctype="multipart/form-data">
            <label class="label">
                <p>Загрузить фото</p>
                <input type="file" name="file">
                <input type="hidden" name="_csrf" value="${_csrf.token}" />
            </label>
            <button type="submit" name="changeUserPhoto">Изменить фотографию</button>
            <button type="submit" name="deleteUserPhoto">Удалить фотографию</button>
        </form>
    </div>

    <div class="lineBetweenSettings"></div>

    <div class="divName">
        <p>Введите имя:</p>
        <form id="formFirstName" th:action="@{'/settings'}" th:method="post">
            <input id="name" type="text" name="name" th:placeholder="*{authUser.getFirstName()}">
            <button type="submit" name="changeName">Изменить имя</button>
        </form>
    </div>

    <div class="lineBetweenSettings"></div>

    <div class="divSurname">
        <p>Введите фамилию:</p>
        <form id="formLastName" class="form" th:action="@{'/settings'}" th:method="post">
            <input id="surname" type="text" name="surname" th:placeholder="*{authUser.getLastName()}">
            <button type="submit" name="changeSurname">Изменить фамилию</button>
        </form>
    </div>

    <div class="lineBetweenSettings"></div>

    <div class="divPassword">
        <p>Введите новый пароль:</p>
        <form id="formPassword" th:action="@{'/settings'}" th:method="post">
            <input id="password" type="text" name="password" placeholder="Пароль">
            <input id="passwordConfirm" type="text" name="passwordConfirm" placeholder="Подтверждение пароля">
            <button type="submit" name="changeUserPassword">Изменить пароль</button>
        </form>
    </div>
</div>

<!--<script>-->
<!--    const formFirstName = document.getElementById('formFirstName');-->
<!--    const formLastName = document.getElementById('formLastName');-->
<!--    const formPassword = document.getElementById('formPassword');-->
<!--    const firstName = document.getElementById('name');-->
<!--    const lastName = document.getElementById('surname');-->
<!--    const password = document.getElementById('password');-->
<!--    const passwordConfirm = document.getElementById('passwordConfirm');-->

<!--    formFirstName.addEventListener('submit', (e) => {-->
<!--        e.preventDefault();-->

<!--        if (checkInputFirstName() === true){-->
<!--            e.currentTarget.submit();-->
<!--        }-->
<!--    });-->

<!--    formLastName.addEventListener('submit', (e) => {-->
<!--        e.preventDefault();-->

<!--        if (checkInputLastName() === true){-->
<!--            e.currentTarget.submit();-->
<!--        }-->
<!--    });-->

<!--    formPassword.addEventListener('submit', (e) => {-->
<!--        e.preventDefault();-->

<!--        if (checkInputPassword() === true){-->
<!--            e.currentTarget.submit();-->
<!--        }-->
<!--    });-->

<!--    function checkInputFirstName(){-->
<!--        const firstNameValue = firstName.value.trim();-->
<!--        let checker = false;-->

<!--        if (firstNameValue === ''){-->
<!--            setErrorFor(firstName, 'FirstName cannot be blank');-->
<!--        }else {-->
<!--            setSuccessFor(firstName);-->
<!--            checker = true;-->
<!--        }-->

<!--        return checker;-->
<!--    }-->

<!--    function checkInputLastName(){-->
<!--        const lastNameValue = lastName.value.trim();-->
<!--        let checker = false;-->

<!--        if (lastNameValue === ''){-->
<!--            setErrorFor(lastName, 'LastName cannot be blank');-->
<!--        }else {-->
<!--            setSuccessFor(lastName);-->
<!--            checker = true;-->
<!--        }-->

<!--        return checker;-->
<!--    }-->

<!--    function checkInputPassword(){-->
<!--        const passwordValue = password.value.trim();-->
<!--        const passwordConfirmValue = passwordConfirm.value.trim();-->
<!--        let checker = false;-->

<!--        if (passwordValue === ''){-->
<!--            setErrorFor(password, 'Password cannot be blank');-->
<!--        } else if (passwordConfirmValue === ''){-->
<!--            setErrorFor(passwordConfirm, 'Password cannot be blank')-->
<!--        } else if (passwordValue !== passwordConfirmValue){-->
<!--            setErrorFor(password, 'Passwords don\'t match')-->
<!--            setErrorFor(passwordConfirm, 'Passwords don\'t match')-->
<!--        }-->
<!--        else {-->
<!--            setSuccessFor(password);-->
<!--            checker = true;-->
<!--        }-->

<!--        return checker;-->
<!--    }-->

<!--    function setErrorFor(input, message){-->
<!--        const formControl = input.parentElement;-->
<!--        const small = formControl.querySelector('small');-->

<!--        small.innerText = message;-->
<!--        formControl.className = 'form-control error';-->
<!--    }-->

<!--    function setSuccessFor(input){-->
<!--        const formControl = input.parentElement;-->
<!--        formControl.className = 'form-control success';-->
<!--    }-->
<!--</script>-->

</body>
</html>