<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
    <div class="header" th:fragment="header">
        <div class="containerAll">
            <a th:href="'?type=records'">Записи</a>
            <a th:href="'?type=photos'">Фотографии</a>
            <a th:href="'?type=videos'">Видео</a>
        </div>
        <div class="filter" th:method="get">
            <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                  th:href="${urlBuilder.replaceQueryParam('sort', 'new').toUriString()}">
                Новое
            </a>
            <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                  th:href="${urlBuilder.replaceQueryParam('sort', 'old').toUriString()}">
                Старое
            </a>
            <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                  th:href="${urlBuilder.replaceQueryParam('sort', 'pop').toUriString()}">
                Популярное
            </a>
        </div>
    </div>
</body>
</html>