<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="ru.osminkin.springvideohosting.model.User"*/-->
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
    <div class="header" th:fragment="header">
        <div class="containerAll">
            <a class="headerButton" th:classappend="${#httpServletRequest.getRequestURL() == 'http://localhost:8080/'}
                                        ? 'headerButtonConstant'
                                        : ''"
                                    th:href="'/'"
                                    th:text="'Главная'"></a>

<!--            <a class="headerButton" th:classappend="${#httpServletRequest.requestURI == '/videos'}-->
<!--                                        ? 'headerButtonConstant'-->
<!--                                        : ''"-->
<!--                                    th:href="'/videos'"-->
<!--                                    th:text="Видео"></a>-->

<!--            <a class="headerButton" th:classappend="${#httpServletRequest.requestURI == '/photos'}-->
<!--                                        ? 'headerButtonConstant'-->
<!--                                        : ''"-->
<!--                                    th:href="'/photos'"-->
<!--                                    th:text="Фотографии"></a>-->

<!--            <a class="headerButton" th:classappend="${#httpServletRequest.requestURI == '/records'}-->
<!--                                        ? 'headerButtonConstant'-->
<!--                                        : ''"-->
<!--                                    th:href="'/records'"-->
<!--                                    th:text="Записи"></a>-->

            <a class="headerButton" th:classappend="${#httpServletRequest.requestURI == '/users'}
                                        ? 'headerButtonConstant'
                                        : ''"
               th:href="'/users'"
               th:text="'Найти пользователя'"></a>

            <a th:if="${authUser != null}" class="headerButton" th:classappend="${#httpServletRequest.requestURI == '/subscriptions'}
                                        ? 'headerButtonConstant'
                                        : ''"
               th:href="'/subscriptions'"
               th:text="'Мои подписки'"></a>
        </div>
    </div>
</body>
</html>