<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="user" type="ru.osminkin.springvideohosting.model.User"*/-->
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<div class="header" th:fragment="headerForChannel">
    <div class="user">
        <div class="userAvatar">
            <img th:src="@{'/img/' + *{user.getPhoto()}}" alt="">
        </div>
        <div class="userInfo">
            <p class="firstName" th:text="${user.getFirstName() + ' ' + user.getLastName()}"></p>
            <br/>
            <p th:text="'Подписчиков: ' + *{subscribers}"></p>
            <div class="authNullFollow" th:if="${authUser == null}">
                <br/>
                <button class="followButton" disabled>Подписаться</button>
                <p class="hoverTextAuthFollow">Войдите в аккаунт, чтобы подписаться.</p>
            </div>
            <br/>
            <div>
                <form th:if="${#authentication.getName() != user.getEmail() && follow == false}" th:action="@{'/channel/' + *{user.getId()}}" th:method="post">
                    <button class="followButton" type="submit" name="subscribe" th:id="*{user.getId()}">Подписаться</button>
                </form>
                <form th:if="${#authentication.getName() != user.getEmail() && follow == true}" th:action="@{'/channel/' + *{user.getId()}}" th:method="post">
                    <button class="unfollowButton" type="submit" name="unsubscribe" th:id="*{user.getId()}">Отписаться</button>
                </form>
            </div>
        </div>
        <div>
            <form sec:authorize="hasRole('ROLE_ADMIN')" th:if="${#authentication.getName() != user.getEmail() and userStatus == 'ACTIVE'}" th:action="@{'/channel/' + *{user.getId()}}" th:method="post">
                <button class="followButton" type="submit" name="banUser" th:id="*{user.getId()}">Заблокировать пользователя</button>
            </form>
            <form sec:authorize="hasRole('ROLE_ADMIN')" th:if="${#authentication.getName() != user.getEmail() and userStatus == 'BANNED'}" th:action="@{'/channel/' + *{user.getId()}}" th:method="post">
                <button class="unfollowButton" type="submit" name="unbanUser" th:id="*{user.getId()}">Разблокировать пользователя</button>
            </form>
        </div>
    </div>

    <div class="containerAll">
        <a class="headerButton" th:classappend="${#httpServletRequest.requestURI == '/channel/' + user.getId()}
                                        ? 'headerButtonConstant'
                                        : ''"
           th:href="@{'/channel/' + *{user.getId()}}"
           th:text="Главная"></a>

        <a class="headerButton" th:classappend="${#httpServletRequest.requestURI == '/channel/' + user.getId() + '/videos'}
                                        ? 'headerButtonConstant'
                                        : ''"
           th:href="@{'/channel/' + *{user.getId()} + '/videos'}"
           th:text="Видео"></a>

        <a class="headerButton" th:classappend="${#httpServletRequest.requestURI == '/channel/' + user.getId() + '/photos'}
                                        ? 'headerButtonConstant'
                                        : ''"
           th:href="@{'/channel/' + *{user.getId()} + '/photos'}"
           th:text="Фотографии"></a>
    </div>



</div>
</body>
</html>