<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="ru.osminkin.springvideohosting.model.User"*/-->
<!--/*@thymesVar id="photos" type="ru.osminkin.springvideohosting.model.Photo"*/-->
<!--/*@thymesVar id="photo" type="ru.osminkin.springvideohosting.model.Photo"*/-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section th:fragment="photoComponent">
        <div id="mainPhoto" class="mainPhoto catalogRow">
            <div class="catalogCard" th:each="photo : ${photos}">
                <img class="image catalogImg" th:src="@{'/img/' + *{photo.getFilename()}}" alt=""/>
                <div class="photoText">
                    <p th:text="${photo.getText()}"></p>
                </div>
                <div class="photoUserInfo" th:classappend="${#authentication.getName() == photo.getUser().getEmail() && #httpServletRequest.requestURI == '/channel/' + photo.getUser().getId() + '/photos'} ? 'photoUserInfoIf' : ''">
                    <div class="rowPhotoUserInfo">
                        <a th:href="@{'/channel/' + *{photo.getUser().getId()}}" class="photoLinkToUser">
                            <div class="photoUserAvatar">
                                <img th:src="@{'/img/' + *{photo.getUser().getPhoto()}}" alt="">
                            </div>
                        </a>
                        <div class="photoUserNameDateText">
                            <a th:href="@{'/channel/' + *{photo.getUser().getId()}}" class="photoLinkToUser">
                                <div class="photoUserNameText">
                                    <p th:text="*{photo.getUser().getFirstName() + ' ' + photo.getUser().getLastName()}"></p>
                                </div>
                                <div class="photoDate">
                                    <p th:text="*{photo.getAddDate()}"></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div th:if="${#authentication.getName() == photo.getUser().getEmail() && #httpServletRequest.requestURI == '/channel/' + photo.getUser().getId() + '/photos'}">
                        <form th:action="@{'/channel/' + *{user.getId()} + '/photos'}" th:method="post">
                            <input type="hidden" name="photoId" th:value="*{photo.getId()}" />
                            <button class="btnDeletePhoto" type="submit" name="deletePhoto"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>