<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="ru.osminkin.springvideohosting.model.User"*/-->
<head>
    <meta charset="UTF-8">
    <title>top-panel</title>
    <link rel="stylesheet" type="text/css" href="/css/top-panel.css">
</head>
<body>
    <div class="top-panel" th:fragment="top-panel">
        <div class="container height-100">
            <div class="row-top-panel height-100">
                <div class="top-panel__left">
                    <a href="#" class="top-panel__logo">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        Video
                    </a>
                </div>
                <div class="top-panel__right">
                    <nav class="top-panel__nav">
                        <ul>
                            <li>
                                <a th:href="@{'/auth/success'}" class="top-panel__nav-link advantages-link"
                                   th:classappend="${#httpServletRequest.requestURI == '/auth/success'} ? 'top-panel__nav-link-constant' : ''">Главная</a>
                            </li>
                            <li>
                                <a th:href="@{'/auth/success/channel/' + ${authUser.getId()}}" class="top-panel__nav-link catalog-link"
                                   th:classappend="${#httpServletRequest.requestURI == ('/auth/success/channel/' + authUser.getId())} ? 'top-panel__nav-link-constant' : ''">Моя страница</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>
</html>