<!DOCTYPE html>
<html lang="en">
<!--/*@thymesVar id="user" type="ru.osminkin.springvideohosting.model.User"*/-->
<!--/*@thymesVar id="videos" type="ru.osminkin.springvideohosting.model.Video"*/-->
<!--/*@thymesVar id="video" type="ru.osminkin.springvideohosting.model.Video"*/-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section th:fragment="videoComponent">
        <div id="mainVideo" class="mainVideo catalogRow">
            <div class="videoCard" th:each="video : ${videos}">
                <a th:href="@{'/watch/' + *{video.getId()}}">
<!--                    <p class="idVideo" th:text="${video.id}"></p>-->
                    <div class="videoImg">
                        <video class="video" th:preload="metadata" th:src="@{'/video/' + *{video.getFilename()}}" preload="none"></video>
                        <i class="fas fa-play-circle videoPlayIcon"></i>
                    </div>
                    <p class="videoTitleCard" th:text="${video.getVideoTitle()}"></p>
                </a>
                <div th:if="${!#strings.contains(#httpServletRequest.requestURI, '/watch/')}" class="photoUserInfo">
                    <a th:href="@{'/channel/' + *{video.getUser().getId()}}" class="photoLinkToUser">
                        <div class="photoUserAvatar">
                            <img th:src="@{'/img/' + *{video.getUser().getPhoto()}}" alt="">
                        </div>
                    </a>
                    <div class="photoUserNameDateText">
                        <a th:href="@{'/channel/' + *{video.getUser().getId()}}" class="photoLinkToUser">
                            <div class="photoUserNameText">
                                <p th:text="*{video.getUser().getFirstName() + ' ' + video.getUser().getLastName()}"></p>
                            </div>
                            <div class="photoDate">
                                <p th:text="*{video.getAddDate()}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>