<!DOCTYPE html>
<html lang="en">
<!--/*@thymesVar id="user" type="ru.osminkin.springvideohosting.model.User"*/-->
<!--/*@thymesVar id="videos" type="ru.osminkin.springvideohosting.model.Video"*/-->
<!--/*@thymesVar id="video" type="ru.osminkin.springvideohosting.model.Video"*/-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section th:fragment="videoComponent">
        <div id="mainVideo" class="mainVideo catalogRow">
            <div class="videoCard" th:each="video : ${videos}">
                <a th:href="@{'/watch/' + *{video.getId()}}">
<!--                    <p class="idVideo" th:text="${video.id}"></p>-->
                    <video class="video" th:preload="metadata" th:src="@{'/video/' + *{video.getFilename()}}" preload="none"></video>
                    <p th:text="${video.getVideoTitle()}"></p>
                </a>
            </div>
        </div>
    </section>
</body>
</html>