<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link rel="stylesheet" href="/static/css/body.css">
    <link rel="stylesheet" href="/static/css/success.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/top-panel.css">
    <link rel="stylesheet" href="/static/css/allUsers.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div th:replace="components/top-panel :: top-panel"></div>
<div th:replace="components/header :: header"></div>
<div th:replace="components/search :: search"></div>

<div class="allUsers userRow">
    <a th:href="'/channel/' + ${user.getId()}" class="userCard" th:each="user : ${users}">
        <img class="userAvatar" th:src="@{'/img/' + *{user.getPhoto()}}" alt="">
        <p th:text="*{user.getFirstName()}"></p>
        <p th:text="*{user.getLastName()}"></p>
        <p class="banUserStyle" th:if="*{user.getStatus().name() == 'BANNED'}" th:text="Заблокирован"></p>
    </a>
</div>

<script src="/static/scripts/infiniteScroll.js"></script>
<script src="/static/scripts/imageZoom.js"></script>

</body>
</html>