.top-panel {
    height: 78px;
    background-color: #262626;
    color: #fff;
    font-family: "Teko", sans-serif;
}

a{
    text-decoration: none;
}

.container {
    width: 65%;
    margin: 0 auto;
    padding: 0 15px;
}

.height-100{
    height: 100%;
}

.row-top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-panel__logo {
    font-size: 26px;
    color: #4ED8D8;
    text-decoration: none;
}

.top-panel__nav {
    text-transform: uppercase;
    font-weight: 600;
    color: #404040;
    font-size: 24px;
    letter-spacing: 0.45px;
    display: flex;
    justify-content: space-between;
}

.top-panel__nav ul, .top-panel__nav li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.top-panel__nav ul {
    display: flex;
    justify-content: space-between;
}

.top-panel__nav-link {
    margin-right: 30px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    background: unset;
    color: #fff;
    border-bottom: 1px solid transparent;
    outline: none;
    font-size: 20px;
    transition: color 0.2s ease-in, border-bottom 1s ease-in;
}

.top-panel__nav-link i{
    font-size: 25px;
}

.linkImg{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

.top-panel__nav-link-constant {
    color: #4ED8D8;
    border-color: #4ED8D8;
}

.top-panel__nav-link:hover {
    color: #4ED8D8;
    border-color: #4ED8D8;
}

.dropButton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    font-size: 15px;
    z-index: 1;
}

.dropdown-content .btnExit{
    border: none;
    font: inherit;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover, .btnExit:hover {
    background-color: #4ED8D8;
}

.dropdown:hover .dropdown-content {
    display: block;
}