<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/success.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/imageZoom.css">
    <link rel="stylesheet" href="/css/photoCards.css">
    <link rel="stylesheet" href="/css/videoCards.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/records.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div th:replace="components/top-panel :: top-panel"></div>
<div th:replace="components/header :: header"></div>
<div class="marginContentMain">
    <div class="videoMain" th:if="${not #lists.isEmpty(videos)}">
        <a class="mainLinks" th:href="'/videos'">Посмотреть все видео<i class="fas fa-angle-double-right"></i></a>
        <div th:replace="components/videoComponent :: videoComponent"></div>
    </div>
    <div class="photoMain" th:if="${not #lists.isEmpty(photos)}">
        <a class="mainLinks" th:href="'/photos'">Посмотреть все фотографии<i class="fas fa-angle-double-right"></i></a>
        <div th:replace="components/photoComponent :: photoComponent"></div>
    </div>
</div>


<!--    <div id="main" class="main">-->
<!--        <div th:if="${(param.type == null) or (param.type[0] == 'videos')}">-->
<!--            <div id="mainVideo" class="mainVideo catalogRow">-->
<!--                <div class="catalogCard" th:each="video : ${videos}">-->
<!--                    <p class="idVideo" th:text="${video.id}"></p>-->
<!--                    <video th:src="@{'/video/' + *{video.getFilename()}}" width="720px" height="480px" controls preload="none"></video>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div th:if="${(param.type != null) and (param.type[0] == 'records')}">-->
<!--            <div th:each="message : ${messages}">-->
<!--                <p class="id" th:text="${message.id}"></p>-->
<!--                <p th:text="*{'Tag: ' + message.getTag()}"></p>-->
<!--                <p th:text="*{'Text: ' + message.getText()}"></p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div th:if="${(param.type != null) and (param.type[0] == 'photos')}">-->
<!--            <h1>photos</h1>-->
<!--        </div>-->
<!--    </div>-->

<!--<div th:if="${(param.type == null) or (param.type[0] == 'videos')}">-->
<!--    <div id="mainVideo" class="mainVideo catalogRow">-->
<!--        <div class="catalogCard" th:each="video : ${videos}">-->
<!--            <p class="idVideo" th:text="${video.id}"></p>-->
<!--            <video th:preload="metadata" th:src="@{'/video/' + *{video.getFilename()}}" controls preload="none"></video>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div th:if="${(param.type != null) and (param.type[0] == 'records')}">-->
<!--    <div th:each="record : ${records}">-->
<!--        <p class="id" th:text="${record.id}"></p>-->
<!--        <p th:text="*{'Tag: ' + record.getTag()}"></p>-->
<!--        <p th:text="*{'Text: ' + record.getText()}"></p>-->
<!--    </div>-->
<!--</div>-->

<!--<div th:if="${(param.type != null) and (param.type[0] == 'photos')}">-->
<!--    <section class="content">-->
<!--        <div id="mainPhoto" class="mainPhoto catalogRow">-->
<!--            <div class="catalogCard" th:each="photo : ${photos}">-->
<!--                <p class="idPhoto" th:text="${photo.id}" style="display: none"></p>-->
<!--                <p>-->
<!--                    Автор:-->
<!--                    <a th:href="@{'/auth/success/channel/' + ${photo.getUser().id} + '?type=photos'}" th:text="${photo.getUser().getFirstName()} + ' ' + ${photo.getUser().getLastName()}"></a>-->
<!--                </p>-->
<!--                <img class="image catalogImg" th:src="@{'/img/' + *{photo.getFilename()}}" alt="">-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--</div>-->

<script src="/scripts/infiniteScroll.js"></script>
<script src="/scripts/imageZoom.js"></script>
</body>
</html>