<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/imageZoom.css">
    <link rel="stylesheet" href="/css/photoCards.css">
    <link rel="stylesheet" href="/css/filter.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/photoUserStyle.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div th:replace="components/top-panel :: top-panel"></div>
<div th:replace="components/header :: header"></div>
<div th:replace="components/search :: search"></div>
<div th:replace="components/filter :: filter"></div>
<div th:replace="components/photoComponent :: photoComponent"></div>
<script src="/scripts/imageZoom.js"></script>
</body>
</html>