<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/500.css">
</head>
<body>
    <div class="serverErrorContainer">
        <h1 class="serverErrorTitle">Внутренняя ошибка сервера!</h1>
        <p class="serverErrorText">Что-то не так на стороне сервера. Пожалуйста, свяжитесь с администратором</p>
        <p><a class="serverErrorLink" href="/" role="button">Вернуться на главную!</a></p>
    </div>
</body>
</html>