.notFoundContainer{
    padding-left: 30px;
}

.notFoundTitle{
    color: #ffffff;
}

.notFoundText{
    color: #c7c7c7;
    font-size: 26px;
}

.notFoundLink{
    text-decoration: none;
    color: #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
}

.notFoundLink:hover{
    color: #4ED8D8;
    border-color: #4ED8D8;
}