.allUsers {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.banUserStyle{
  color: rgba(255, 0, 0, 0.65);
  font-size: 14px;
}

.userRow {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.userAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  padding-bottom: 5px;
}

.userCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-size: 19px;
  margin: 5px 30px 30px 30px;
  align-items: center;
}

.userCard p {
  padding-top: 5px;
  margin: 0;
}