.header {
    width: 100%;
    background-color: #262626;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0;
    border-top: 1px solid #4ED8D8;
    border-bottom: 1px solid #4ED8D8;
}

.headerButton{
    text-decoration: none;
}

.headerButtonConstant{
    background-color: #4ED8D8;
}

.headerButton {
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    background: unset;
    color: #fff;
    border-bottom: 1px solid transparent;
    outline: none;
    font-size: 20px;
    transition: color 0.2s ease-in, border-bottom 1s ease-in;
}

.headerButtonConstant {
    color: #4ED8D8;
    border-color: #4ED8D8;
}

.headerButton:hover {
    color: #4ED8D8;
    border-color: #4ED8D8;
}

.containerAll{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.filter{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}