.marginContentMain {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.emptyMainUser{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

.mainLinks {
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    transition: color 0.2s ease-in;
}

.mainTitle{
    text-align: center;
    color: #ffffff;
}

.mainLinks i{
    padding-left: 5px;
    font-size: 18px;
}

.mainLinks:hover{
    color: #4ED8D8;
}