.catalogRow {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.catalogCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 30%;
    background-color: #262626;
    padding: 5px 5px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
}

.catalogCard a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color ease-in 0.2s;
}

.catalogCard a:hover{
    color: #4ED8D8;
}

.catalogImg{
    object-fit: cover;
    height: 250px;
    background-color: #e5e5e5;
}