.rowFormPhoto{
    width: 30%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.formPhoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
}

.photoInput{
    background: #262626;
    border: 1px solid #252525;
    color: #fff;
    font-size: 15px;
    height: 100px;
    width: 60%;
}

.btnSavePhoto{
    background: none;
    width: 100px;
    font-size: 16px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    transition: color 0.2s ease-in, border 0.2s ease-in;
    cursor: pointer;
}

.btnSavePhoto:hover{
    color: #4ED8D8;
    border-color: #4ED8D8;
}

.form-control-photo{
    display: inline-grid;
}

.form-control-photo textarea {
    background-color: #464646;
    border: 2px solid #464646;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 0;
    width: 300px;
    margin: 0 auto;
}

.form-control-photo textarea:focus {
    outline: 0;
    border-color: #4ED8D8;
}

.form-control-photo.success textarea {
    border-color: #2ecc71;
}

.form-control-photo.error textarea {
    border-color: #e74c3c;
}

.form-control-photo small {
    color: #e74c3c;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control-photo.error small {
    visibility: visible;
}