.user {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.userAvatar img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.userInfo {
  padding-left: 20px;
  padding-top: 5px;
  color: #ffffff;
}

.userInfo p {
  margin: 0;
  padding: 0;
}