.columns{
    display: flex;
    justify-content: space-between;
}

.firstColumn{
    padding-top: 30px;
    width: 75%;
}

.lineBetweenTitleAndDescription{
    height: 1px;
    width: 95%;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.viewsCount{
    color: #d9d9d9;
    font-size: 15px;
}

.rowTitleAndLikes{
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

.videoTitle{
    max-width: 80%;
}

.secondColumn{
    position: absolute;
    right: 0;
    width: 25%;
    background-color: #262626;
}

.videoCard{
    text-align: center;
}

.mainVideo{
}

.watchVideo{
    text-align: center;
}

.watchVideo .textStyleWatch{
    text-align: left;
    padding-left: 80px;
    color: #ffffff;
    font-size: 24px;
}

.selectVideo{
    max-height: 700px;
    max-width: 100%;
    width: 90%;
    background: #010001;
}

.video{
    width: 70%;
}

.btnLikeOrDislike{
    height: 40px;
    width: 120px;
    font-size: 20px;
    background: none;
    color: #fff;
    border: 1px solid;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.btnLikeOrDislike:hover{
    color: #4ED8D8;
    border-color: #4ED8D8;
}

.btnLikeOrDislikeConstant{
    color: #4ED8D8;
    border-color: #4ED8D8;
}

.authNull{
    position: relative;
}

.hoverTextAuth{
    position: absolute;
    color: #4ed8d8;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    font-size: 20px;
    padding: 0;
    margin: 0;
    transition: opacity 0.2s, visibility 0.2s;
}

.authNull:hover .hoverTextAuth{
    visibility: visible;
    opacity: 1;
}