<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <link rel="stylesheet" href="/static/css/top-panel.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/body.css">
    <link rel="stylesheet" href="/static/css/photoCards.css">
    <link rel="stylesheet" href="/static/css/imageZoom.css">
    <link rel="stylesheet" href="/static/css/user.css">
    <link rel="stylesheet" href="/static/css/filter.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/follow.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/photoUserStyle.css">
    <link rel="stylesheet" href="/static/css/photos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div th:replace="components/top-panel :: top-panel"></div>
<div th:replace="components/headerForChannel :: headerForChannel"></div>

<div class="rowFormPhoto">
    <form id="formPhoto" class="formPhoto" th:if="${#authentication.getName() == user.getEmail()}" modelAttribute="photoFromForm" method="post" enctype="multipart/form-data">
        <div class="form-control-photo">
            <input class="filePhoto" accept="image/*" type="file" id="filePhoto" name="file">
            <small>Error message</small>
        </div>
        <div class="form-control-photo">
            <label for="photoTitle">Введите название видео</label>
            <textarea class="photoInput photoTitle" id="photoTitle" name="photoTitle"></textarea>
            <small>Error message</small>
        </div>
        <button class="btnSavePhoto" type="submit" id="savePhoto" name="savePhoto">Сохранить</button>
    </form>
</div>

<div th:if="${!#lists.isEmpty(photos) && user.getStatus().name() == 'ACTIVE'}">
    <div th:replace="components/search :: search"></div>
    <div th:replace="components/filter :: filter"></div>
</div>
<div class="marginContentMain">
    <div class="emptyMainUser" th:if="${#lists.isEmpty(photos) and user.getStatus().name() == 'ACTIVE'}">
        Данный пользователь ничего не выкладывал :(
    </div>
    <div class="emptyMainUser" th:if="${user.getStatus().name() == 'BANNED'}">
        Пользователь заблокирован, контент не будет отображён
    </div>

    <div th:replace="components/photoComponent :: photoComponent"></div>
</div>
<script src="/static/scripts/imageZoom.js"></script>
<script src="/static/scripts/formValidationForPhoto.js"></script>
</body>
</html>