<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
</head>
<body>
<h1>Videos</h1>

<p th:text="${'FirstName: ' + user.getFirstName()}">VALUE</p>
<p th:text="${'LastName: ' + user.getLastName()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>

<form modelAttribute="videoFromForm" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="hidden" name="_csrf" value="${_csrf.token}" />
    <button type="submit" name="save">Add</button>
</form>

<video src="video/0452395e-8215-4f9e-b1d4-adc3f0034750" width="720px" height="480px" controls preload="none"></video>

<!--<div id="mainVideo" class="mainVideo catalogRow">-->
<!--    <div class="catalogCard" th:each="video : ${videos}">-->
<!--        <p class="idVideo" th:text="${video.id}"></p>-->
<!--        <video th:src="@{'/video/' + *{video.getFilename()}}" width="720px" height="480px" controls preload="none"></video>-->
<!--    </div>-->
<!--</div>-->

<form action="/auth/login" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>