<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/imageZoom.css">
    <link rel="stylesheet" href="/css/photoCards.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div th:replace="components/top-panel :: top-panel" th:with="user"></div>
<div th:replace="components/header :: header"></div>

<h1>Main</h1>

<p th:text="${'FirstName: ' + user.getFirstName()}">VALUE</p>
<p th:text="${'LastName: ' + user.getLastName()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>

<!--<div th:each="message : ${messages}">-->
<!--    <div>-->
<!--        <p th:text="*{'Id: ' + message.getId()}"></p>-->
<!--        <p th:text="*{'Tag: ' + message.getTag()}"></p>-->
<!--        <p th:text="*{'Text: ' + message.getText()}"></p>-->
<!--        <p th:if="*{message.getFilename()}">-->
<!--            <img th:src="@{'/img/' + *{message.getFilename}}" alt="">-->
<!--        </p>-->
<!--    </div>-->
<!--    <form th:action="@{'/auth/success/channel/' + *{user.getId()}}" th:method="post">-->
<!--        <input type="hidden" name="id" th:value="${message.getId()}" />-->
<!--        <button type="submit" name="delete" th:id="*{message.getId()}">delete</button>-->
<!--    </form>-->
<!--</div>-->

<div th:if="${(param.type == null) or (param.type[0] == 'videos')}">
    <div th:if="${#authentication.getName() == user.getEmail()}">
        <form modelAttribute="videoFromForm" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="text" name="videoTitle" placeholder="Add text" />
            <input type="hidden" name="_csrf" value="${_csrf.token}" />
            <button type="submit" name="saveVideo">Add</button>
        </form>
    </div>

    <div id="mainVideo" class="mainVideo catalogRow">
        <div class="catalogCard" th:each="video : ${videos}">
            <p class="idVideo" th:text="${video.id}"></p>
            <video th:preload="metadata" th:src="@{'/video/' + *{video.getFilename()}}" controls preload="none"></video>
            <div th:if="${#authentication.getName() == user.getEmail()}">
                <form th:action="@{'/auth/success/channel/' + *{user.getId()}}" th:method="post">
                    <input type="hidden" name="id" th:value="${video.getId()}" />
                    <button type="submit" name="deleteVideo" th:id="*{video.getId()}">delete</button>
                </form>
            </div>
        </div>

    </div>
</div>

<div th:if="${(param.type != null) and (param.type[0] == 'records')}">
    <div th:if="${#authentication.getName() == user.getEmail()}">
        <form modelAttribute="messageFromForm" method="post" enctype="multipart/form-data">
            <input type="text" name="text" placeholder="Add text" />
            <input type="text" name="tag" placeholder="Tag">
            <input type="hidden" name="_csrf" value="${_csrf.token}" />
            <button type="submit" name="saveMessage">Add</button>
        </form>
    </div>

    <div th:each="message : ${messages}">
        <p class="id" th:text="${message.id}"></p>
        <p th:text="*{'Tag: ' + message.getTag()}"></p>
        <p th:text="*{'Text: ' + message.getText()}"></p>
        <div th:if="${#authentication.getName() == user.getEmail()}">
            <form th:action="@{'/auth/success/channel/' + *{user.getId()}}" th:method="post">
                <input type="hidden" name="id" th:value="${message.getId()}" />
                <button type="submit" name="deleteMessage" th:id="*{message.getId()}">delete</button>
            </form>
        </div>
    </div>
</div>

<div th:if="${(param.type != null) and (param.type[0] == 'photos')}">
    <div th:if="${#authentication.getName() == user.getEmail()}">
        <form modelAttribute="photoFromForm" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="hidden" name="_csrf" value="${_csrf.token}" />
            <button type="submit" name="savePhoto">Add</button>
        </form>
    </div>

    <section class="content">
        <div id="mainPhoto" class="mainPhoto catalogRow">
            <div class="catalogCard" th:each="photo : ${photos}">
                <p class="idPhoto" th:text="*{photo.id}"></p>
                <img class="image catalogImg" th:src="@{'/img/' + *{photo.getFilename()}}" alt=""/>
                <div th:if="${#authentication.getName() == user.getEmail()}">
                    <form th:action="@{'/auth/success/channel/' + *{user.getId()}}" th:method="post">
                        <input type="hidden" name="id" th:value="*{photo.getId()}" />
                        <button type="submit" name="deletePhoto" th:id="*{photo.getId()}">delete</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<form action="/auth/login" method="post">
    <button type="submit">Logout</button>
</form>

<script src="/scripts/imageZoom.js"></script>

</body>
</html>