<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Please sign in</title>
</head>
<body>
<div class="container">
    <form method="post" action="/auth/login">
        <h2>Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" placeholder="Username">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" placeholder="Password">
        </p>
        <button type="submit">Sign in</button>
    </form>
</div>
</body></html>