<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8">
    <title>Please sign in</title>
    <link rel="stylesheet" href="/css/top-panel.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div th:replace="components/top-panel :: top-panel"></div>
<div class="bodyForm">
    <div class="containerForm">
        <form class="formAuth" method="post" action="/auth/login">
            <h2>Авторизация</h2>
            <div class="form-control">
                <label for="username" class="sr-only">Введите почту</label>
                <input type="text" id="username" name="username" placeholder="email">
            </div>
            <div class="form-control">
                <label for="password" class="sr-only">Введите пароль</label>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <p th:if="${param.error != null}" style="color: #c00; text-align: center">Неверно введён логин или пароль</p>
            <button class="authSignIn" type="submit">Войти в учётную запись</button>
            <a class="authSignUp" th:href="@{'/auth/registration'}">Создать новый аккаунт</a>
        </form>
    </div>
</div>
</body>
</html>