<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/registration.css">
    <link rel="stylesheet" href="/css/top-panel.css">
</head>
<body>
<div th:replace="components/top-panel :: top-panel"></div>
<div class="bodyForm">
    <div class="containerForm">
        <form class="formRegistration" id="form" modelAttribute="userForm" method="post">
            <h2>Регистрация</h2>
            <div class="form-control">
                <label for="email">Введите почту</label>
                <input type="text" id="email" name="email" placeholder="test@mail.ru">
                <small>Error message</small>
                <p th:if="${userExists}" style="color: #f00">Пользователь с такой почтой уже существует</p>
            </div>
            <div class="form-control">
                <label for="firstName">Введите имя</label>
                <input type="text" id="firstName" name="firstName" placeholder="Ivan">
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="lastName">Введите фамилию</label>
                <input type="text" id="lastName" name="lastName" placeholder="Ivanov">
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="password">Введите пароль</label>
                <input type="password" id="password" name="password" placeholder="********">
                <small>Error message</small>
            </div>
            <button class="regSignUp" type="submit">Зарегистрироваться</button>
            <a class="regSignIn" href="/auth/login">Войти в учётную запись</a>
        </form>
    </div>
</div>
<script src="/scripts/formValidationForRegistration.js"></script>
</body>
</html>