<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/registration.css">
    <link rel="stylesheet" href="/css/top-panel.css">
</head>
<body>
<div th:replace="components/top-panel :: top-panel"></div>
<div class="bodyForm">
    <div class="containerForm">
        <form class="formRegistration" id="form" modelAttribute="userForm" method="post">
            <h2>Регистрация</h2>
            <div class="form-control">
                <label for="email">Введите почту</label>
                <input type="text" id="email" name="email" placeholder="test@mail.ru">
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="firstName">Введите имя</label>
                <input type="text" id="firstName" name="firstName" placeholder="Ivan">
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="lastName">Введите фамилию</label>
                <input type="text" id="lastName" name="lastName" placeholder="Ivanov">
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="password">Введите пароль</label>
                <input type="password" id="password" name="password" placeholder="********">
                <small>Error message</small>
            </div>
            <button class="regSignUp" type="submit">Зарегистрироваться</button>
            <a class="regSignIn" href="/auth/login">Войти в учётную запись</a>
        </form>
    </div>
</div>
<script>
    const form = document.getElementById('form');
    const email = document.getElementById('email');
    const firstName = document.getElementById('firstName');
    const lastName = document.getElementById('lastName');
    const password = document.getElementById('password');

    form.addEventListener('submit', (e) => {
        e.preventDefault();

        if (checkInputs() === 4){
            e.currentTarget.submit();
        }
    });

    function checkInputs(){
        const emailValue = email.value.trim();
        const firstNameValue = firstName.value.trim();
        const lastNameValue = lastName.value.trim();
        const passwordValue = password.value.trim();
        let count = 0;

        if (emailValue === ''){
            setErrorFor(email, 'Email cannot be blank');
        } else if (!isEmail(emailValue)){
            setErrorFor(email, 'Email is not valid');
        } else {
            setSuccessFor(email);
            count++;
        }

        function isEmail(email) {
            return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
        }

        if (firstNameValue === ''){
            setErrorFor(firstName, 'FirstName cannot be blank');
        }else {
            setSuccessFor(firstName);
            count++;
        }

        if (lastNameValue === ''){
            setErrorFor(lastName, 'LastName cannot be blank');
        }else {
            setSuccessFor(lastName);
            count++;
        }

        if (passwordValue === ''){
            setErrorFor(password, 'Password cannot be blank');
        }else {
            setSuccessFor(password);
            count++;
        }

        return count;
    }

    function setErrorFor(input, message){
        const formControl = input.parentElement;
        const small = formControl.querySelector('small');

        small.innerText = message;
        formControl.className = 'form-control error';
    }

    function setSuccessFor(input){
        const formControl = input.parentElement;
        formControl.className = 'form-control success';
    }
</script>
</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Registration</title>-->
<!--    <link rel="stylesheet" href="/css/registration.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <form id="form" class="form" modelAttribute="userForm" method="post">-->
<!--        <h2>Please sign up</h2>-->
<!--        <div class="form-control">-->
<!--            <label for="email">email</label>-->
<!--            <input type="text" id="email" name="email" placeholder="email">-->
<!--            <p class="errorMessage">Error message</p>-->
<!--        </div>-->
<!--        <div class="form-control">-->
<!--            <label for="firstName">first name</label>-->
<!--            <input type="text" id="firstName" name="firstName" placeholder="first name">-->
<!--            <p class="errorMessage">Error message</p>-->
<!--        </div>-->
<!--        <div class="form-control">-->
<!--            <label for="lastName">last name</label>-->
<!--            <input type="text" id="lastName" name="lastName" placeholder="last name">-->
<!--            <p class="errorMessage">Error message</p>-->
<!--        </div>-->
<!--        <div class="form-control">-->
<!--            <label for="password">password</label>-->
<!--            <input type="password" id="password" name="password" placeholder="password">-->
<!--            <p class="errorMessage">Error message</p>-->
<!--        </div>-->
<!--        <button type="submit">Sign in</button>-->
<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->