<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/body.css">
    <link rel="stylesheet" type="text/css" href="/css/success.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/top-panel.css">
</head>
<body>
<div th:replace="components/top-panel :: top-panel" th:with="user"></div>
<div th:replace="components/header :: header"></div>

<form modelAttribute="messageForm" method="post" enctype="multipart/form-data">
    <input type="text" name="text" placeholder="Add text" />
    <input type="text" name="tag" placeholder="Tag">
    <input type="hidden" name="_csrf" value="${_csrf.token}" />
    <button type="submit" name="save">Add</button>
</form>

<video src="/videos/videoplayback.mp4" width="720px" height="480px" controls preload="none"></video>

    <div id="main" class="main">
        <div th:each="message : ${messages}">
            <p class="id" th:text="${message.id}"></p>
            <p th:text="*{'Tag: ' + message.getTag()}"></p>
            <p th:text="*{'Text: ' + message.getText()}"></p>
            <p th:if="*{message.getFilename()}">
                <img th:src="@{'/img/' + *{message.getFilename()}}" alt="">
            </p>
        </div>
    </div>
    <form action="/auth/login" method="post">
        <button type="submit">Logout</button>
    </form>

<script src="/scripts/infiniteScroll.js"></script>

</body>
</html>