<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/body.css">
    <link rel="stylesheet" type="text/css" href="/css/success.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/top-panel.css">
</head>
<body>
<div th:replace="components/top-panel :: top-panel" th:with="user"></div>
<div th:replace="components/header :: header"></div>

<!--    <div id="main" class="main">-->
<!--        <div th:if="${(param.type == null) or (param.type[0] == 'videos')}">-->
<!--            <div id="mainVideo" class="mainVideo catalogRow">-->
<!--                <div class="catalogCard" th:each="video : ${videos}">-->
<!--                    <p class="idVideo" th:text="${video.id}"></p>-->
<!--                    <video th:src="@{'/video/' + *{video.getFilename()}}" width="720px" height="480px" controls preload="none"></video>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div th:if="${(param.type != null) and (param.type[0] == 'records')}">-->
<!--            <div th:each="message : ${messages}">-->
<!--                <p class="id" th:text="${message.id}"></p>-->
<!--                <p th:text="*{'Tag: ' + message.getTag()}"></p>-->
<!--                <p th:text="*{'Text: ' + message.getText()}"></p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div th:if="${(param.type != null) and (param.type[0] == 'photos')}">-->
<!--            <h1>photos</h1>-->
<!--        </div>-->
<!--    </div>-->

<div th:if="${(param.type == null) or (param.type[0] == 'videos')}">
    <div id="mainVideo" class="mainVideo catalogRow">
        <div class="catalogCard" th:each="video : ${videos}">
            <p class="idVideo" th:text="${video.id}"></p>
            <video th:src="@{'/video/' + *{video.getFilename()}}" width="720px" height="480px" controls preload="none"></video>
            <form th:action="@{'/auth/success/channel/' + *{user.getId()}}" th:method="post">
                <input type="hidden" name="id" th:value="${video.getId()}" />
                <button type="submit" name="deleteVideo" th:id="*{video.getId()}">delete</button>
            </form>
        </div>

    </div>
</div>

<div th:if="${(param.type != null) and (param.type[0] == 'records')}">
    <div th:each="message : ${messages}">
        <p class="id" th:text="${message.id}"></p>
        <p th:text="*{'Tag: ' + message.getTag()}"></p>
        <p th:text="*{'Text: ' + message.getText()}"></p>
        <form th:action="@{'/auth/success/channel/' + *{user.getId()}}" th:method="post">
            <input type="hidden" name="id" th:value="${message.getId()}" />
            <button type="submit" name="deleteMessage" th:id="*{message.getId()}">delete</button>
        </form>
    </div>
</div>

<div th:if="${(param.type != null) and (param.type[0] == 'photos')}">
    <div id="mainPhoto" class="mainPhoto catalogRow">
        <div class="catalogCard" th:each="photo : ${photos}">
            <p class="idPhoto" th:text="${photo.id}"></p>
            <img th:src="@{'/img/' + *{photo.getFilename()}}" alt="">
            <form th:action="@{'/auth/success/channel/' + *{user.getId()}}" th:method="post">
                <input type="hidden" name="id" th:value="${photo.getId()}" />
                <button type="submit" name="deletePhoto" th:id="*{photo.getId()}">delete</button>
            </form>
        </div>
    </div>
</div>

    <form action="/auth/login" method="post">
        <button type="submit">Logout</button>
    </form>

<script src="/scripts/infiniteScroll.js"></script>

</body>
</html>